 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
}

.container{
  margin-top: 20px;
  margin-left:400px;

}

@mixin boxes{
  height:200px;
  width:400px;
  background-color: lightblue;
}

@mixin header{
  height: 35px;
  width: 100%;
  background-color: darkblue;
  padding-left:10px;
  padding-bottom:7px;
  display: block;
  margin:0;
}

@mixin paragraph{
  color:black;
  padding:10px;
  margin:0
}

.box1{
  @include boxes;

  h2{
  @include header;
  }
  p{
    @include paragraph;
  }
}

.box2{
  @include boxes;

  h2{
  @include header;
  }
  p{
    @include paragraph;
  }
}

.box3{
  @include boxes;

  h2{
  @include header;
  }
  p{
    @include paragraph;
  }
}
